<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.accentype.CenterGuidelineTool</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Center Guideline Tool</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>100</string>
	<key>UpdateFeedURL</key>
	<string></string>
	<key>productPageURL</key>
	<string></string>
	<key>productReleaseNotes</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Miklos Ferencz / Accentype, 2025</string>
	<key>NSPrincipalClass</key>
	<string>CenterGuidelineTool</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
